<div class="dropdown">
  <button class="btn  btn-sm filter-drop" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag "filter.png", class: "filter-icon", title: 'filter' %> Filter
  </button>
  <div class="dropdown-menu" aria-labelledby="filterDropdown">
    <%= form_tag(search_issues_path, method: "get", class: "dropdown-item") do %>
      <div class="form-group">
        <%= label_tag :status, "Status:", class: "mr-2" %>
        <%= select_tag :status, options_for_select([ ["All",""],["Resolved", "true"], ["Pending", "false"]], params[:status]), class: "form-control" %>
      </div>
      <%= hidden_field_tag :filter, true %>
      <%= submit_tag "Apply Filters", class: "btn btn-primary btn-sm mt-2" %>
    <% end %>
  </div>
</div>

