<table class="table table-striped">
    <thead>
      <tr>
        <th>Item ID
          <%= link_to url: sort, sort_by: "item_id_asc" do %>
          <i class="fa fa-sort-asc" aria-hidden="true"></i>
          <% end %>
          <%= link_to url: sort, sort_by: "item_id_desc" do %>
          <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <% end %>
        </th>
        <th>Description</th>
        <th>Status</th>
        <% if authenticate_user %>
          <th>User ID
            <%= link_to url: sort, sort_by: "user_id_asc" do %>
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <% end %>
            <%= link_to url: sort, sort_by: "user_id_desc" do %>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <% end %>
          </th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% issues.each do |issue| %>
        <tr>
          <td><%= issue.item_id %></td>
          <td class="description"><%= issue.description %></td>
          <td id="status-cell-<%= issue.id %>">
            <% if issue.status %>
              <span class="text-success">Resolved</span>
            <% else %>
              <span class="text-warning">Pending</span>
            <% end %>
          </td>
          <% if authenticate_user %>
            <td><%= issue.user_id %></td>
            <td>
              <div class="d-inline">
               <%= form_with model: issue, url: issue_path(issue), method: :put, data: { remote: true , issue_id: issue.id }, authenticity_token: true do |form| %>
                <%= hidden_field_tag 'issue[status]', !issue.status, data: { issue_id: issue.id } %>
                <% if issue.status %>
                  <%= form.submit 'Mark as Pending', class: 'btn btn-sm btn-warning', data: { confirm: 'Are you sure you want to mark this issue as pending?' } %>
                <% else %>
                  <%= form.submit 'Mark as Resolved', class: 'btn btn-sm btn-info', data: { confirm: 'Are you sure you want to mark this issue as resolved?' } %>
                <% end %>
              <% end %>
              </div>
            </td>
            <td><%= link_to "Delete", issue_path(issue), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this issue?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>