<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th>Complaint Id
          <%= link_to url: sort, sort_by: "issue_id_asc" do %>
            <% image_tag "up.png", class: "sort-icon" %>
          <% end %>
          <%= link_to url: sort, sort_by: "issue_id_desc" do %>
            <% image_tag "down.png", class: "sort-icon" %>
          <% end %>
        </th>
        <th>Item Id
          <%= link_to url: sort, sort_by: "item_id_asc" do %>
            <% image_tag "up.png", class: "sort-icon" %>
          <% end %>
          <%= link_to url: sort, sort_by: "item_id_desc" do %>
            <% image_tag "down.png", class: "sort-icon" %>
          <% end %>
        </th>
        <%= render 'partials/sort_created', sort: sort %>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% issues.each do |issue| %>
        <tr class="text-center">
          <td><%= issue.id %></td>
          <td><%= issue.item.uid %></td>
          <td><%= issue.created_at.strftime('%B %d, %Y at %H:%M') %></td> 
          <td id="status-cell-<%= issue.id %>">
            <% if issue.status %>
              <span class="text-success">Resolved</span>
            <% else %>
              <span class="text-warning">Pending</span>
            <% end %>
          </td>
          <td>
            <%= show_link((issue_path(issue)))%>
            <% if authenticate_user %>
              <%= delete_link(issue_path(issue)) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>