<div class="container mt-4 mb-4 d-flex justify-content-center align-items-center">
  <%= render 'partials/search', search: search_issues_path %>
  <%= render 'filter' %>
  <% if !authenticate_user %>
    <%= link_to new_issue_path, class: 'btn add-btn btn-sm' do %>
      <i class="fa-solid fa-plus fa-lg" style="color: #026c6da;"></i>Raise Issue
    <% end %>
  <% end %>
</div>
<% if @issues.length.zero? %>
  <h3 class="text-center mt-4">No issues found</h3>
<% else %>
  <%= render 'list', issues: @issues, sort: issues_path %>
<% end %>
<%= render 'partials/paginate', obj: @issues%>
