<%= javascript_pack_tag 'status_update', 'data-turbolinks-track': 'reload' %>
<%= render 'partials/search', search: search_issues_path %>
<div class="d-flex justify-content-center">
  <%= render 'filter' %>
</div>
<% if !authenticate_user %>
  <%= link_to "Raise Issue", new_issue_path, class: 'btn btn-lg text-light custom-bg-color' %>
<% end %>
<% if @issues.length.zero? %>
  <h3 class="text-center mt-4">No issues found</h3>
<% else %>
  <%= render 'list', issues: @issues, sort: issues_path %>
<% end %>
<%= render 'partials/paginate', obj: @issues%>
