<div class="container mt-4 mb-4 d-flex justify-content-center align-items-center">
  <%= render 'partials/search', search: search_issues_path %>
  <%= render 'filter', filter: search_issues_path %>
  <% if check_session %>
    <%= form_tag(search_issues_path, method: "get", class: "clear-filter-form mt-2") do %>
      <div class="form-group">
        <%= submit_tag "Clear Filter", class: "btn btn-sm add-btn" %>
      </div>
      <%= hidden_field_tag :query, '' %>   
      <%= hidden_field_tag :status, '' %>
      <%= hidden_field_tag :filter, true %>
    <% end %>
  <% end %>
</div>
<% unless @issues.nil? %>
  <% if @issues.empty? %>
    <p class="text-center mt-4">No Issue Found</p>
  <% else %>
    <span>Search results</span><hr/>
    <%= render 'list', issues: @issues, sort: search_issues_path %>
  <% end %>
<% end %>
<%= render 'partials/paginate', obj: @issues%>
