<button class="btn" onclick="goBack()"><i class="fa-solid fa-arrow-left-long fa-lg"></i> Back</button>
<h5 class="p-3 text-center">Issue Details</h5>
<div class="col-lg-4 mt-4 m-auto w-30">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Complaint Id</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @issue.id %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Item Id</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @issue.item.uid %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Description</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @issue.description %></p>
        </div>
      </div> 
      <hr> 
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Status</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @issue.status ? 'Resolved' : 'Pending' %></p>
        </div>
      </div>
      <hr>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Employee</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @issue.user.present? ? @issue.user&.email : '-----' %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4 m-auto">
          <p class="text-muted mb-0">
            <div>
              <% if authenticate_user %>
                <%= delete_link(issue_path(@issue)) %>
              <% end %>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>