<th scope="col">Id
  <%= link_to url: sort, sort_by: "uid_asc" do %>
    <% image_tag "up.png", class: "sort-icon" %>
  <% end %>
  <%= link_to url: sort, sort_by: "uid_desc" do %>
    <% image_tag "down.png", class: "sort-icon" %>
  <% end %>
</th>
<th scope="col">Name 
  <%= link_to url: sort, sort_by: "name_asc" do %>
    <% image_tag "up.png", class: "sort-icon" %>
  <% end %>
  <%= link_to url: sort, sort_by: "name_desc" do %>
    <% image_tag "down.png", class: "sort-icon" %>
  <% end %>
</th>
<th scope="col">
  <div class="d-flex align-items-center justify-content-center">
    <div class="mr-2">
      Brand Name
    </div>
    <div class="btn-group d-flex">
      <%= link_to url: sort, sort_by: "brand_asc" do %>
        <% image_tag "up.png", class: "sort-icon" %>
      <% end %>
      <%= link_to url: sort, sort_by: "brand_desc" do %>
        <% image_tag "down.png", class: "sort-icon" %>
      <% end %>
    </div>
  </div>
</th>
<th scope="col">
  <div class="d-flex align-items-center justify-content-center">
    <div class="mr-2">
      Category Name
    </div>
    <div class="btn-group d-flex">
      <%= link_to url: sort, sort_by: "category_asc" do %>
        <% image_tag "up.png", class: "sort-icon" %>
      <% end %>
      <%= link_to url: sort, sort_by: "category_desc" do %>
        <% image_tag "down.png", class: "sort-icon" %>
      <% end %>
    </div>
  </div>
</th>
<th scope="col">Status</th>
<%= render 'partials/sort_created', sort: sort %>
<th scope="col">Actions</th>
