<div class="dropdown">
  <button class="btn  btn-sm filter-drop" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag "filter.png", class: "filter-icon", title: 'filter' %> Filter
  </button>
  <div class="dropdown-menu" aria-labelledby="filterDropdown">
    <%= form_tag(search_users_path, method: "get", class: "dropdown-item") do %>
      <div class="form-group">
        <%= label_tag :active, "Active:" %>
        <%= select_tag :active, options_for_select([["All", ""], ["Yes", "true"], ["No", "false"]], session[:active]), class: "form-control" %>
      </div>
      <%= hidden_field_tag :filter, true %>
      <%= submit_tag "Apply Filters", class: "btn btn-primary btn-sm mt-2" %>
    <% end %>
  </div>
</div>
