<div class="table-responsive">  
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <%= render 'partials/sort', sort: search %>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Active</th>
        <%= render 'partials/sort_created', sort: search %>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="entities-list">
    <% users.each do |user| %>
      <tr class="text-center" data-users-id=<%= user.id %>>
        <td><%= link_to "#{user.name}", user_path(user), class: 'btn text-primary' %></td>
        <td><%= user.email %></td>
        <td>
          <div class="<%= user.admin ? 'admin' : 'employee' %>">
            <%= user.admin ? 'Admin' : 'Employee' %>
          </div>
        </td>
        <td>
          <div class="<%= user.active ? 'active-status' : 'not-active-status' %>">
            <%= user.active ? 'Yes' : 'No' %>
          </div>
        </td> 
        <td><%= user.created_at.strftime('%B %d, %Y at %H:%M') %></td>
        <td>
          <%= show_link(user_path(user)) %>
          <%= edit_link(edit_user_path(user)) %>
          <%= delete_link(user_path(user)) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>