<%= render 'partials/search', search: search_users_path %>
<%= render 'filter', filter: users_path %>
<%= link_to "Add user", new_user_path, class: 'btn btn-primary custom-bg-color mb-3'%>
<% if @users.length == 0 %>
  <h3 class="text-center mt-4">No users found</h3>
<% else %>
  <%= render 'list', users: @users, search: users_path %>
<% end %>
<%= render 'partials/paginate', obj: @users%>
