<div class="container mt-4 mb-4 d-flex justify-content-center align-items-center">
  <%= render 'partials/search', search: search_users_path %>
  <%= render 'filter', filter: users_path %>
  <%= link_to new_user_path, class: 'btn add-btn btn-sm' do %>
    <i class="fa-solid fa-plus fa-lg" style="color: #026c6da;"></i>Add User
  <% end %>
</div>
<% if @users.length == 0 %>
  <h3 class="text-center mt-4">No users found</h3>
<% else %>
  <%= render 'list', users: @users, search: users_path %>
<% end %>
<%= render 'partials/paginate', obj: @users %>
