<div class="col-lg-4 mt-4 m-auto w-30">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @user.name %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @user.email %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Active</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @user.active ? "Yes" : "No" %></p>
        </div>
      </div> 
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">User Type</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @user.admin ? "Admin" : "Employee  " %></p>
        </div>
      </div> 
      <hr>
      <div class="row">
        <div class="col-sm-9">
          <button class="btn btn-primary" onclick="window.history.back();">Back</button>
        </div>
      </div>   
    </div>
  </div>
</div>
<% if @user.items.present? %>
  <h4 class="text-center mb-3">Allocated items</h4>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="table text-center">
          <%= render 'partials/user_items',sort: user_path(@user) %>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%@items.each do |item| %>
          <tr class="text-center" data-items-id=<%= item.id %>>
            <td><%=link_to "#{item.uid}",item_path(item) %></td>
            <td><%= item.name %></td>
            <td><%= item.brand.name %></td>
            <td><%= item.category.name %></td>
            <td><%= item.status ? 'Working' : 'Not Working' %></td> 
            <% if authenticate_user %>
              <td class="d-flex gap-2 justify-content-center">
                <%= edit_link(edit_item_path(item)) %>
                <%= delete_link(item_path(item)) %>
              </td>
            <% end %>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<% else %>
  <h4 class="text-center mb-3">No items are allocated</h4>
<% end %>  