<h3 class="mb-4 mt-3">Dashboard</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card bg-primary">
        <div class="card-body">
          <h5 class="card-title">Total Itmes</h5>
          <p class="card-text"><%= Item.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 ">
      <div class="card bg-warning">
        <div class="card-body">
          <h5 class="card-title">Total Users</h5>
          <p class="card-text"><%= User.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card bg-info">
        <div class="card-body">
          <h5 class="card-title">Toatl Issues</h5>
          <p class="card-text"><%= Issue.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card bg-success">
        <div class="card-body">
          <h5 class="card-title">Total Category</h5>
          <p class="card-text"><%= Category.count %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card bg-primary">
        <div class="card-body">
          <%= render 'partials/dashboard', type: Item,limit: 5 %>
          <%= link_to "Show all",items_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 ">
      <div class="card bg-warning">
        <div class="card-body overflow-auto h-100">
          <%= render 'partials/dashboard', type: User, limit: 5  %>
          <%= link_to "Show all",users_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card bg-info">
        <div class="card-body">
          <%= render 'partials/dashboard', type: Issue, limit: 5  %>
          <%= link_to "Show all",issues_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card bg-success">
        <div class="card-body">
          <%= render 'partials/dashboard', type: Category, limit: 5 %>
          <%= link_to "Show all",categories_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
  </div>
</div>