<%= form_tag(search_items_path, method: "get") do %>
  <div>
    <%= label_tag :category_id, "Category:" %>
    <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: true %>
  </div>
  <div>
    <%= label_tag :brand_id, "Brand:" %>
    <%= select_tag :brand_id, options_from_collection_for_select(Brand.all, :id, :name, params[:brand_id]), include_blank: true %>
  </div>
  <div>
    <%= label_tag :status, "Status:" %>
    <%= select_tag :status, options_for_select([["All", ""], ["Working", "true"], ["Not Working", "false"]], params[:status]) %>
  </div>
    <%= hidden_field_tag :filter, true %>
  <div>
    <%= submit_tag "Filter" %>
  </div>
<% end %>