<tr class="table-info">
  <td><%=link_to "#{item.id}",item_path(item) %></td>
  <td><%= item.name %></td>
  <td><%= item.brand.name %></td>
  <td><%= item.category.name %></td>
  <td><%= item.notes %></td>
  <td><%= item.status ? 'working' : 'not working' %></td>
  <% if authenticate_user %>
    <td><%= item.user.id %></td>
    <td><%= item.user.name %></td>
    <td>
      <%= link_to "Edit", edit_item_path(item), class: 'btn btn-warning' %>
      <%= link_to "Delete", item_path(item), method: :delete, class: 'btn btn-danger' %>
    </td>
  <% end %>
  <td>
    <% if item.documents.attached? %>
      <% item.documents.each do |document| %>
        <%= link_to "file", url_for(document), class: 'btn btn-primary', target: '_blank' %>
      <% end %>
    <% end %>
  </td>
</tr>
