
<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">id <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
      <th scope="col">name <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
      <th scope="col">Brand name </th>
      <th scope="col">Category name</th>
      <th scope="col">Notes</th>
      <th scope="col">Status <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
      <% if authenticate_user %>
        <th scope="col">User id <%= link_to(items_path(query: @query, sort_by: "id_desc")) do %>
          <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <% end %>
        </th>
        <th scope="col">User name <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
        <th scope="col">Actions</th>
       <% end %>
      <th scope="col">Downloads</th>
    </tr>
  </thead>
  <tbody>
  <%items.each do |item| %>
    <tr class="table-info">
      <td><%=link_to "#{item.id}",item_path(item.id) %></td>
      <td><%= item.name %></td>
      <td><%= item.brand_name %></td>
      <td><%= item.category_name %></td>
      <td><%= item.notes %></td>
      <td><%= item.status ? 'working' : 'not working' %></td>
      <% if authenticate_user %>
        <td><%= item.user_id %></td>
        <td><%= item.user_name %></td>
        <td>
          <%= link_to "Edit", edit_item_path(item.id), class: 'btn btn-warning' %>
          <%= link_to "Delete", item_path(item.id), method: :delete, class: 'btn btn-danger' %>
        </td>
      <% end %>
        <td>
          <% if Item.find(item.id).documents.attached? %>
            <% Item.find(item.id).documents.each do |document| %>
              <%= link_to "file", url_for(document), class: 'btn btn-primary', target: '_blank' %>
             <% end %>
          <% end %>
        </td>
    </tr>
  <%end%>
  </tbody>
</table>