<tr class="text-center" data-items-id=<%= item.id %>>
  <td><%=link_to "#{item.uid}",item_path(item) %></td>
  <td><%= item.name %></td>
  <td><%= item.brand.name %></td>
  <td><%= item.category.name %></td>
  <td><%= item.notes.blank? ? "---" : item.notes %></td>
  <td><%= item.status ? 'working' : 'not working' %></td>
  <% if authenticate_user %>
    <td><%= item.user ? item.user.id : "---" %></td>
    <td><%= item.user ? item.user.name : "No user" %></td>
    <td class="d-flex gap-2">
      <%= link_to "Edit", edit_item_path(item), class: 'btn btn-warning' %>
      <%= button_to "Delete", item_path(item), method: :delete, class: 'btn btn-danger delete-button item-delete-button', remote: true, data: { entity_id:  item.id , entity_type: "items" } %>
    </td>
  <% end %>
  <td>
    <% if item.documents.attached? %>
      <% item.documents.each do |document| %>
        <%= link_to "file", url_for(document), class: 'btn btn-primary', target: '_blank' %>
      <% end %>
    <% else %>
      No file
    <% end %>
  </td>
</tr>
