<tr class="text-center" data-items-id=<%= item.id %>>
  <td><%=link_to "#{item.uid}",item_path(item), class: "btn text-primary" %></td>
  <td><%= item.name %></td>
  <td><%= item.brand.name %></td>
  <td><%= item.category.name %></td>
  <td>
    <div class="status-cell <%= item.status ? 'working' : 'not-working' %>">
      <%= item.status ? 'Working' : 'Not Working' %>
    </div>
  </td> 
  <td><%= item.created_at.strftime('%B %d, %Y at %H:%M') %></td> 
  <% if authenticate_user %>
    <td>
      <%= show_link((item_path(item)))%>
      <%= edit_link(edit_item_path(item)) %>
      <%= delete_link(item_path(item)) %>
    </td>
  <% end %>
</tr>
