<%= render 'partials/search', search: search_items_path  %>
<%= render 'filter' %>
<% if authenticate_user %>
  <%= link_to "Add Item", new_item_path, class: 'btn btn-lg text-light custom-bg-color mt-2 mb-4'%>
<% end %>
<% if @items.length == 0 %>
  <h3 class="text-center mt-4">No items found</h3>
<% else %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped items-list">
      <%= render 'partials/items', sort: items_path %>
      <tbody class="entities-list">
        <%@items.each do |item| %>
          <%= render 'list', item: item %>
        <%end%>
      </tbody>
    </table>
  </div>  
<% end %>
<%= render 'partials/paginate', obj: @items %>