<div class="container mt-4 mb-4 d-flex justify-content-center align-items-center">
  <%= render 'partials/search', search: search_items_path  %>
  <%= render 'filter' %>
  <% if check_session %>
    <%= form_tag(search_items_path, method: "get", class: "clear-filter-form mt-2 ") do %>
      <div class="form-group">
        <%= submit_tag "Clear Filter", class: "btn btn-sm add-btn" %>
      </div>
      <%= hidden_field_tag :query, '' %>
      <%= hidden_field_tag :category_id, '' %>
      <%= hidden_field_tag :brand_id, '' %>
      <%= hidden_field_tag :status, '' %>
      <%= hidden_field_tag :filter, true %>
    <% end %>
  <% end %>
</div>

<% unless @items.nil? %>
  <% if @items.empty? %>
    <p class="text-center mt-4">No results found</p>
  <% else %>
    <span>Search results</span><hr/>
    <div class="table-responsive">
      <table class="table table-striped">
        <%= render 'partials/items', sort: search_items_path %>
        <tbody>
        <% @items.each do |item| %>
          <%= render 'list', item: item %>
        <% end %>
        </tbody>
      </table>
    </div>  
  <% end %>
<% end %>
<%= render 'partials/paginate', obj: @items %>