<%= render 'partials/search', search: search_items_path  %>
<%= render 'filter' %>
<% unless @items.nil? %>
  <% if @items.empty? %>
    <h3 class="text-center mt-4">No Item Found</h3>
  <% else %>
    <h2>Search results</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <%= render 'partials/items', sort: search_items_path %>
        <tbody>
        <%@items.each do |item| %>
          <%= render 'list', item: item %>
        <%end%>
        </tbody>
      </table>
    </div>  
  <% end %>
<% end %>
<%= render 'partials/paginate', obj: @items%>