<%= link_to 'Back', back_btn, class: 'btn btn-sm add-btn' %>
<h5 class="p-3 text-center">Item Details</h5>
<div class="col-lg-5 mt-4 m-auto w-30">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Id</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @item.uid %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @item.name %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Brand</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @item.brand.name %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Category</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @item.category.name %></p>
        </div>
      </div> 
      <hr> 
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Status</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @item.status ? 'Working' : 'Not Working' %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Notes</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @item.notes? ? @item.notes : '-----'  %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Employee</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= @item.user.present? ? @item.user&.email : '-----' %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Files</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">
            <% if @item.documents.attached? %>
              <% @item.documents.each do |document| %>
                <%= link_to document.filename, url_for(document), class: 'btn btn-primary btn-sm m-2', target: '_blank' %><br>
              <% end %>
            <% else %>
              No File
            <% end %>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4 m-auto">
          <p class="text-muted mb-0">
            <div>
              <% if authenticate_user %>
                <%= edit_link(edit_item_path(@item))%>
                <%= delete_link(item_path(@item))%>
              <% end %>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>