<h3><%= @item.id %></h3>
<h3><%= @item.name %></h3>
<h3><%= @item.brand.name %></h3>
<h3><%= @item.category.name %></h3>
<h3><%= @item.notes %></h3>
<h3><%= @item.status ? 'working' : 'not working' %></h3>
<h3><%= @item.user_id %></h3>
<h3><%= @item.user.name %></h3>
<h3><%= link_to "Edit", edit_item_path(@item), class: 'btn btn-warning' %></h3>
<h3><%= link_to "Delete", item_path(@item), method: :delete, class: 'btn btn-danger' %></h3>
<h3><%= link_to "Download document",rails_blob_path(@item.document, disposition: "attachment"), class: 'btn btn-warning' %></h3>
<h3><%= link_to "Back", items_path, class: 'btn btn-primary' %></h3>

