<tr class="text-center" data-brands-id="<%= brand.id %>">
  <td><%= brand.id %></td> 
  <td class="brand-name"><%= brand.name %></td>
  <td class="d-flex gap-2">
    <%= link_to "Edit", edit_brand_path(brand), class: 'btn btn-primary' %>
    <%= button_to "Delete", brand_path(brand), method: :delete, class: 'btn btn-danger delete-button', remote: true, data: { entity_id:  brand.id, entity_type: "brands"  } %>
  </td>
</tr>