<%= javascript_include_tag 'edit' %>

<h1>Brands</h1>
<%= render 'partials/search', search_type: "Brands", search: search_brands_path %>
<div class="col-lg-3 w-50 m-auto">
  <%= form_with(model: @brand,local: false) do |form| %>
    <div class="form-group mb-2">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', maxlength: 50,  required: true  %>
      <p id='error'></p>
    </div>
    <%= form.submit 'Add Brand', class: 'btn btn-primary mb-2' %>
  <% end %>

  <table class="table table-bordered">
    <%= render 'partials/brands', sort: brands_path %>
    <tbody class="entities-list" id="brands-list"> 
      <% @brands.each do |brand| %>
        <%= render 'list', brand: brand %>
      <% end %>
    </tbody>
  </table>
</div>

  <!-- Edit Brand Modal -->
  <div class="modal fade" id="editBrandModal" tabindex="-1" role="dialog" aria-labelledby="edit-brand-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-brand-modal-label">Edit Brand</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with(model: @brand,id: 'edit-brand-form') do |form| %>
            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control', maxlength: 50, required: true, id: 'edit-brand-name' %>
            </div>
            <%= form.submit 'Update Brand', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

