<div class="container mt-4 mb-4 d-flex justify-content-center align-items-center">
  <%= render 'partials/search', search: search_categories_path %>
  <%= render 'filter', filter: categories_path %>
  <%= link_to  new_category_path, class: 'btn add-btn btn-sm' do %>
    <i class="fa-solid fa-plus fa-lg" style="color: #026c6da;"></i>Add Category
  <% end %>
</div>
<div>
  <% if @categories.length == 0 %>
    <h3 class="text-center mt-4">No category found</h3>
  <% else %>
  <div class="table-responsive">
    <table class="table table-striped categories-list">
      <%= render 'partials/categories', sort: categories_path %>
      <tbody class="entities-list">
        <% @categories.each do |category| %>
          <%= render 'list', category: category %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
<%= render 'partials/paginate', obj: @categories %>
